<!doctype html>
<html lang="pl">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Szymon Burnejko">
		<meta name="ROBOTS" content="INDEX, FOLLOW, NOARCHIVE">
		<link href="img/favicon.ico" rel="icon" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>{{ TITLE }}</title>
	</head>

	<body>
		<div id="content">
			
			<section>
				<header>{{ HEADER }}</header>
				<article>
					{{ CONTENT }}
				</article>
			</section>

			<aside>
				<div class="minions"></div>
				<div class="addons">
					<p class="quote">Jak się czuję,<br />kiedy mój kod działa<br />&larr; ;-)</p>
					<p class="projects">Liczba projektów: {{ COUNT-PROJECTS }}</p>
				</div>
				<div style="clear: both;"></div>
			</aside>

			<footer>Skrypt indeksujący. - Szymon Burnejko &copy; 2016 - {{ YEAR }}</footer>

		</div>
	</body>
</html>